{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
<body id="bg" class="tdStyleback"></body>

<table id="firstView" align="center">
    <tr> 
    
        <td > 
            <input id="1to2" type="button" value="Next" onclick="view()" class=" button button2">
        </td>
        <td>
            <div class="about">
            <img src="{% static 'images/attac.png' %}" class="pic" id="1">
        </div>
        </td>

    </tr>
</table>





<table id="firstViewBackup" class="invisibleDiv" align="center">
    <tr> 
        <td > 
            <input id="1to2" type="button" value="Next" onclick="view()" class=" button button2">
        </td>
        <td>
            <div class="about">
            <img src="{% static 'images/attac.png' %}" class="pic" id="1">
        </div>
        </td>
       

    </tr>
</table>

<table id="secondView" class="invisibleDiv" align="center">
    <tr>
        <td  >
            <input id="2to3" type="button" value="Next" onclick="view2()" class=" button button2"><br>
            <input id="2to1" type="button" value="Back" onclick="viewBack()" class=" button button2"> 
        </td>
        <td>
            <div class="about">
            <img src="{% static 'images/blue2/pic.png' %}" class="pic">
         </div>
        </td>
    </tr>

</table>

<table id="thrdviewAskConf" class="invisibleDiv"  align="center">
    <tr>
        <td colspan="2">
           
              <img src="{% static 'images/blue2/initialacc.png' %}" class="pic">
            
        </td>
        <td>
            <form action="{% url 'taskChoiceBlue' %}">

                <input class="button buttonHint" type="submit" value="Back">
            </form>
        </td>
   
       
    </tr>
    <tr>
        <td>
            <div class="choiceboxshow" id="option1" >  A. <br> Use physical and logical segmentation to prevent access to potentially sensitive systems and information</div>
        </td>
        <td>
               <div class="choiceboxshow" id="option2"> B. <br><br> Safety Instrumented Systems <br><br><br><br><div>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <div class="hintBox"> How Confident are you with the answer? <br>
                <input type="button" value="Very confident, no help needed" onclick="confident()" class=" button button2"><br>
                <input type="button" value="Not sure, I need a hint " onclick="notConfident()" class=" button button2">
            </div>
             
             
        </td>
        
    </tr>
   

</table>

<table id="thrdviewConf" class="invisibleDiv"  align="center">
    <tr  >
        <td colspan="2"><img src="{% static 'images/blue2/initialacc.png' %}" class="table"></td>
        <td>
            <form action="{% url 'taskChoiceBlue' %}">

                <input class="button buttonHint" type="submit" value="Back">
            </form>
        </td>
    </tr>
    <tr>
        <td>
            <div class="choiceboxshow" id="option1" >  A. <br> Use physical and logical segmentation to prevent access to potentially sensitive systems and information</div>
            <br> <input type="button" value="Choose" onclick="feedbackTrueConf()" class=" button button2">
        </td>
        <td>
            <div class="choiceboxshow" id="option2">  B. <br><br> Safety Instrumented Systems <br><br><br><br></div>
            <br> <input type="button" value="Choose" onclick="feedbackFalseConf()" class=" button button2">
        </td>
     
   </tr>

</table>

<table id="thrdviewNotConf" class="invisibleDiv"  align="center">
    <tr height="30%">
        <td colspan="3">
            <img src="{% static 'images/blue2/initialacc.png' %}" class="table">
        </td>
        <td>
            <form action="{% url 'taskChoiceBlue' %}">

                <input class="button buttonHint" type="submit" value="Back">
            </form>
        </td>
        
        
    </tr>    
    <tr  >
            <td>
                <div class="choiceboxshow" id="option1" >  A. <br> Use physical and logical segmentation to prevent access to potentially sensitive systems and information</div>
                <br> <input type="button" value="Choose" onclick="feedbackTruenotConf()" class=" button button2">
            
            </td>
            <td>
                <div class="choiceboxshow" id="option2">  B. <br><br> Safety Instrumented Systems <br><br><br><br></div>
                <br> <input type="button" value="Choose" onclick="feedbackFalsenotConf()" class=" button button2">
            </td>
        </tr>
        <tr>
            <td colspan="2" > 
                <div class="hintBox">
                <form  id="getHelp" method="post" target="_blank">{%csrf_token%}
                <input type="submit" name="help" value="                        Hint.                           " onclick="deduct()" class=" button buttonHint">
                </form>
             </div>
            </td>
        </tr>
       

</table>

  

<table id="trueConf" class="invisibleDiv"  align="center">
  <tr  >
        <td>
            <div class="choiceBoxshow"> You are correct, Good job.<br> Network segmentation helps with isolating critical systems, functions, or resources.<br></div>
                <form action="https://attack.mitre.org/techniques/T1133/" target="_blank"> 
                 
                 <input type="submit" value="Find out more!" class=" button button2"></form>
                
        </td>
    
        <td> 
            <div class="about">
            <img src="{% static 'images/True.png' %}" class="pic">
         </div>
        </td>
        <td> 
            <form method="post" action="{% url 'task22' %}" name="trueFormCOnf">
               {% csrf_token %}
               <input class="invisibleDiv" id="score" value="2" name="score">
               <input class="invisibleDiv"  value="0"  name="helpdeduct" >
               <input class="invisibleDiv"  value="1"  name="trueCount" >
               <input type="submit" value="Continue" class=" button button2"> 
            
             </form> 
        </td>
    </tr>
</table>


<table id="falseConf" class="invisibleDiv"  align="center">
    <tr  >
          <td>
              <div class="choiceBoxshow" >Unfortunately that was not correct.  <br>
                This technique on itself doesn’t cause any safety-related consequence, so it is out of scope.<br></div>
                 
                <br><form action="https://attack.mitre.org/techniques/T1133/" target="_blank"> 
                     
            
            <input type="submit" value="Find out more!" class=" button button2"></form>
          </td>
          <td>
               <img src="{% static 'images/fault.png' %}" class="pic">
          </td>
          <td>
              <form  method="post" action="{% url 'task22' %}" name="falseFormConf"> 
                {% csrf_token %}
                <input class="invisibleDiv"  value="0" name="score">
                <input class="invisibleDiv"  value="2"  name="helpdeduct" >
                <input type="submit" value="Continue" class=" button button2">
            
             </form>
         </td>
      </tr>
  </table>

  <table id="truenotConf" class="invisibleDiv"  align="center">
    <tr  >
          <td>
              <div class="choiceBoxshow"> You are correct, Good job.<br> Network segmentation helps with isolating critical systems, functions, or resources. </div>
          </td>
      
          <td> 
            <div class="about">
              <img src="{% static 'images/True.png' %}" class="pic">
            </div>
          </td>
          <td> 
              <form method="post" action="{% url 'task21' %}" name="trueFormCOnf">
                 {% csrf_token %}
                 <input class="invisibleDiv" id="score" value="1" name="score">
                 <input class="invisibleDiv"  value="0"  name="helpdeduct" >
                 <input class="invisibleDiv" id="counter" value="1"  name="trueCount" >
                 <input type="submit" value="Continue" class=" button button2"> 
              
               </form> 
          </td>
      </tr>
  </table>
  
  
  <table id="falsenotConf" class="invisibleDiv"  align="center">
      <tr  >
            <td>
                <div class="choiceBoxshow" >Unfortunately that was not correct.  <br>
                    This technique on itself doesn’t cause any safety-related consequence, so it is out of scope
                 
              </div>
            </td>
            <td>
                 <img src="{% static 'images/fault.png' %}" class="pic">
            </td>
            <td>
                <form  method="post" action="{% url 'task22' %}" name="falseFormConf"> 
                  {% csrf_token %}
                  <input class="invisibleDiv"  value="0" name="score">
                  <input class="invisibleDiv"  value="0"  name="helpdeduct" >
                  <input type="submit" value="Continue" class=" button button2">
              
               </form>
           </td>
        </tr>
    </table>





    













<script>

function view(){

    document.getElementById("firstView").innerHTML = document.getElementById("secondView").innerHTML ;

  
}

function view2(){
    document.getElementById("firstView").innerHTML = document.getElementById("thrdviewAskConf").innerHTML ;
}

function viewBack(){
    document.getElementById("firstView").innerHTML = document.getElementById("firstViewBackup").innerHTML ;
  
}

function confident(){
    document.getElementById("firstView").innerHTML = document.getElementById("thrdviewConf").innerHTML ;
}

function notConfident(){
    document.getElementById("firstView").innerHTML = document.getElementById("thrdviewNotConf").innerHTML ;
}

function feedbackTrueConf(){
    document.getElementById("firstView").innerHTML = document.getElementById("trueConf").innerHTML ;
    document.getElementById("counter").innerText= 1;

}

function feedbackFalseConf(){
    document.getElementById("firstView").innerHTML = document.getElementById("falseConf").innerHTML ;
    document.getElementById("score").innerText= 0;


}

function feedbackTruenotConf(){
    document.getElementById("firstView").innerHTML = document.getElementById("truenotConf").innerHTML ;
    document.getElementById("counter").innerText= 1;

}

function feedbackFalsenotConf(){
    document.getElementById("firstView").innerHTML = document.getElementById("falsenotConf").innerHTML ;
    document.getElementById("score").innerText= 0;


}

function deduct(){
    window.open("https://attack.mitre.org/techniques/T1133/");
    }
</script>