{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

<body id="bg" class="tdStyleback"></body>

<table align="center" id="firstView" width="100%" height="50"> 
    <tr>
        <td colspan="2"  >
            <div ><img src="{% static 'images/blue2/Persistence.png' %}" class="pic"  ></div>
        </td>
        
         <td> 
            <div  class="button button2"> Your Score :{{score}} <br>
            </div> 
            <br><br>
            <div class="choiceboxshow"> How Confident are you with the answer? <br>
                <input type="button" value="Very confident, no help needed" onclick="confident()" class=" button button2">
                <input type="button" value="Not sure, i  need a hint " onclick="notConfident()" class=" button button2">
            </div>
        </td>
        
        
    </tr>
    <tr>
         <td>
            <div class="choiceboxshow" > SSL/TLS Inspection.</div>

         <br><br><br>  
            <div class="choiceboxshow" > Software Process and Device Authentication</div>
           
         </td>
         <td>
            <div class="choiceboxshow" >  Restrict Web-Based Content . </div>

          <br>
            <div class="choiceboxshow" > Network Segmentation</div>

          </td>
    </tr>
  

    
</table>

<table align="center" id="firstViewConf" width="100%" height="50" class="invisibleDiv"> 
    <tr>
        <td colspan="3"  >
            <div  ><img src="{% static 'images/blue2/Persistence.png' %}" class="pic"  ></div>
        </td>
        
         <td> 
            <div  class="button button2"> Your Score :{{score}} </div> 
         </td>
        
    </tr>
    <tr>
         <td>
            <div class="choiceboxshow" > SSL/TLS Inspection. <br><br></div>
            <input type="button" value="Choose" onclick="feedbackFalse1Conf()" class=" button button2">

            <br><br><br>  
            <div class="choiceboxshow" > Software Process and Device Authentication <br> </div>
            <input type="button" value="Choose" onclick="feedbackTrue1Conf()" class=" button button2">
           
         </td>
         <td>
            <div class="choiceboxshow" > Restrict Web-Based Content . <br>  </div>
            <input type="button" value="Choose" onclick="feedbackFalse2Conf()" class=" button button2">

             <br>
            <div class="choiceboxshow" > Network Segmentation. <br><br></div>
            <input type="button" value="Choose" onclick="feedbackTrue2Conf()" class=" button button2">

          </td>
    </tr>
    
</table>
<table align="center" id="firstViewnotConf" width="100%" height="50" class="invisibleDiv"> 
    <tr>
        <td colspan="3"  >
            <div  ><img src="{% static 'images/blue2/Persistence.png' %}" class="pic"  ></div>
        </td>
        
        <td> 
            <div  class="button button2"> Your Score :{{score}} </div> 
         <br><br><br> 
             
                <input type="submit"  value="Hint" onclick="deduct()" class=" button buttonred">
                
            </td>
    
        
    </tr>
    <tr>
         <td>
            <div class="choiceboxshow" > SSL/TLS Inspection. <br><br></div>
            <input type="button" value="Choose" onclick="feedbackFalse1notConf()" class=" button button2">

            <br><br><br> 
            <div class="choiceboxshow" > Software Process and Device Authentication <br> </div>
            <input type="button" value="Choose" onclick="feedbackTrue1notConf()" class=" button button2">
           
         </td>
         <td>
            <div class="choiceboxshow" > Restrict Web-Based Content . <br>  </div>
             <input type="button" value="Choose" onclick="feedbackFalse2notConf()" class=" button button2">

             <br><br><br> 
            <div class="choiceboxshow" > Network Segmentation<br><br></div>
             <input type="button" value="Choose" onclick="feedbackTrue2notConf()" class=" button button2">

          </td>
    </tr>
    
</table>

<table id="true1Conf" class="invisibleDiv" width="100%" align="center">
    <tr width="100%">
          <td><div class="choiceboxshow">Bravo, this limits access to remote services through centrally managed concentrators such 
            as VPNs and other managed remote access systems.<br> </div>
         <form action="https://attack.mitre.org/techniques/T0855/" target="_blank"> 
            <input type="submit" value="Find more!" class=" button button2"> </form></td>
          <td> <img src="{% static 'images/True.png' %}" class="pic"></td>
          <td>
              <form action="{% url 'task82' %}" method="post" >{%csrf_token%}
                <input class="invisibleDiv" id="score" value="{{score}}"  name="score" >
                <input class="invisibleDiv"  value="2"  name="scoreAdd" >
                <input class="invisibleDiv"  value="0"  name="helpdeduct" >
                <input class="invisibleDiv"  value="{{truecounter}}"  name="trueCount" >
                <input class="invisibleDiv"  value="1"  name="counterAdd" >

                <input type="submit" value="Continue" class=" button button2" >  
                </form>
            </td>
      
  </table>
  <table id="true2Conf" class="invisibleDiv" width="100%" align="center">
    <tr width="100%">
          <td><div class="choiceboxshow"> Great decision. This can help us disable or block remotely available services that may be unnecessary.</div> <form target="_blank" action="https://attack.mitre.org/techniques/T0855/"> 
                <input type="submit" value="Find more!" class=" button button2"> </form> </td>
          <td> <img src="{% static 'images/True.png' %}" class="pic"></td>
          <td>
              <form action="{% url 'task82' %}" method="post" >{%csrf_token%}
                <input class="invisibleDiv" id="score" value="{{score}}"  name="score" >
                <input class="invisibleDiv"  value="2"  name="scoreAdd" >
                <input class="invisibleDiv"  value="0"  name="helpdeduct" >
                <input class="invisibleDiv" value="{{truecounter}}"  name="trueCount" >
                <input class="invisibleDiv"  value="1"  name="counterAdd" >

                <input type="submit" value="Continue" class=" button button2" >  
                </form>
            </td>
      
  </table>
  
  <table id="false1Conf" class="invisibleDiv" width="100%" align="center">
      <tr width="50%">
            <td><div class="choiceboxshow" >User training won't help in this case. The technique does not require any action from the user, so even well-trained users can be affected by this.  </div>
                <br><form action="https://attack.mitre.org/techniques/T0855/" target="_blank"> 
                    <input type="submit" value="Find more!" class=" button button2"> </form>

             
              </td>
            <td> <img src="{% static 'images/fault.png' %}" class="pic"></td>
            <td>
                <form action="{% url 'task82' %}" method="post" >{%csrf_token%}
                    <input class="invisibleDiv"  value="{{score}}" name="score">
                    <input class="invisibleDiv"  value="0"  name="scoreAdd" >
                    <input class="invisibleDiv"  value="2"  name="helpdeduct" >
                    <input class="invisibleDiv"  value="{{truecounter}}"  name="trueCount" >
                    <input class="invisibleDiv"  value="0"  name="counterAdd" >
                     
                    <input type="submit" value="Continue" class=" button button2" >
                </form>
            </td>
        </tr>
    </table>
    <table id="false2Conf" class="invisibleDiv" width="100%" align="center">
        <tr width="50%">
              <td><div class="choiceboxshow" >Watchdog Timers are used when the system becomes unresponsive, and that does not happen in this case. </div> 
                <br><form action="https://attack.mitre.org/techniques/T0855/" target="_blank"> 
                    <input type="submit" value="Find more!" class=" button button2"> </form>
               
                </td>
              <td> <img src="{% static 'images/fault.png' %}" class="pic"></td>
              <td>
                  <form action="{% url 'task82' %}" method="post" >{%csrf_token%}
                      <input class="invisibleDiv"  value="{{score}}" name="score">
                      <input class="invisibleDiv"  value="0"  name="scoreAdd" >
                      <input class="invisibleDiv"  value="2"  name="helpdeduct" >
                      <input class="invisibleDiv"  value="{{truecounter}}"  name="trueCount" >
                      <input class="invisibleDiv"  value="0"  name="counterAdd" >
                      
                      <input type="submit" value="Continue" class=" button button2" >
                  </form>
              </td>
          </tr>
      </table>
      <table id="true1notConf" class="invisibleDiv" width="100%" align="center">
        <tr width="100%">
              <td><div class="choiceboxshow">Bravo, this limits access to remote services through centrally managed concentrators such 
                as VPNs and other managed remote access systems. </td>
              <td> <img src="{% static 'images/True.png' %}" class="pic"></td>
              <td>
                  <form action="{% url 'task82' %}" method="post" >{%csrf_token%}
                    <input class="invisibleDiv" id="score" value="{{score}}"  name="score" >
                    <input class="invisibleDiv"  value="1"  name="scoreAdd" >
                    <input class="invisibleDiv"  value="0"  name="helpdeduct" >
                    <input class="invisibleDiv"  value="{{truecounter}}"  name="trueCount" >
                    <input class="invisibleDiv"  value="1"  name="counterAdd" >
    
                    <input type="submit" value="Continue" class=" button button2" >  
                    </form>
                </td>
          
      </table>
      <table id="true2notConf" class="invisibleDiv" width="100%" align="center">
        <tr width="100%">
              <td><div class="choiceboxshow">Great decision. This can help us disable or block remotely available services that may be unnecessary. </td>
              <td> <img src="{% static 'images/True.png' %}" class="pic"></td>
              <td>
                  <form action="{% url 'task82' %}" method="post" >{%csrf_token%}
                    <input class="invisibleDiv" id="score" value="{{score}}"  name="score" >
                    <input class="invisibleDiv"  value="1"  name="scoreAdd" >
                    <input class="invisibleDiv"  value="0"  name="helpdeduct" >
                    <input class="invisibleDiv"  value="{{truecounter}}"  name="trueCount" >
                    <input class="invisibleDiv"  value="1"  name="counterAdd" >
    
                    <input type="submit" value="Continue" class=" button button2" >  
                    </form>
                </td>
          
      </table>
      
      <table id="false1notConf" class="invisibleDiv" width="100%" align="center">
          <tr width="50%">
                <td><div class="choiceboxshow" >User training won't help in this case. The technique does not require any action from the user, so even well-trained users can be affected by this.
    
                 
                  </div></td>
                <td> <img src="{% static 'images/fault.png' %}" class="pic"></td>
                <td>
                    <form action="{% url 'task82' %}" method="post" >{%csrf_token%}
                        <input class="invisibleDiv"  value="{{score}}" name="score">
                        <input class="invisibleDiv"  value="0"  name="scoreAdd" >
                        <input class="invisibleDiv"  value="0"  name="helpdeduct" >
                        <input class="invisibleDiv"  value="{{truecounter}}"  name="trueCount" >
                        <input class="invisibleDiv"  value="0"  name="counterAdd" >
                        
                        <input type="submit" value="Continue" class=" button button2" >
                    </form>
                </td>
            </tr>
        </table>
        <table id="false2notConf" class="invisibleDiv" width="100%" align="center">
            <tr width="50%">
                  <td><div class="choiceboxshow" >Watchdog Timers are used when the system becomes unresponsive, and that does not happen in this case.   <br>
                   
                    </div></td>
                  <td> <img src="{% static 'images/fault.png' %}" class="pic"></td>
                  <td>
                      <form action="{% url 'task82' %}" method="post" >{%csrf_token%}
                          <input class="invisibleDiv"  value="{{score}}" name="score">
                          <input class="invisibleDiv"  value="0"  name="scoreAdd" >
                          <input class="invisibleDiv"  value="0"  name="helpdeduct" >
                          <input class="invisibleDiv"  value="{{truecounter}}"  name="trueCount" >
                          <input class="invisibleDiv"  value="0"  name="counterAdd" >
                          
                          <input type="submit" value="Continue" class=" button button2" >
                      </form>
                  </td>
              </tr>
            </table>

<script type="text/javascript">

 function confident(){
    document.getElementById("firstView").innerHTML = document.getElementById("firstViewConf").innerHTML ;
 }

 function notConfident(){
    document.getElementById("firstView").innerHTML = document.getElementById("firstViewnotConf").innerHTML ;
 }

 function feedbackTrue1Conf(){
    document.getElementById("firstView").innerHTML = document.getElementById("true1Conf").innerHTML ;


}
function feedbackTrue2Conf(){
    document.getElementById("firstView").innerHTML = document.getElementById("true2Conf").innerHTML ;


}
function feedbackFalse1Conf(){
    document.getElementById("firstView").innerHTML = document.getElementById("false1Conf").innerHTML ;


}
function feedbackFalse2Conf(){
    document.getElementById("firstView").innerHTML = document.getElementById("false2Conf").innerHTML ;


 }
 

 function feedbackTrue1notConf(){
    document.getElementById("firstView").innerHTML = document.getElementById("true1notConf").innerHTML ;


 }
 function feedbackTrue2notConf(){
    document.getElementById("firstView").innerHTML = document.getElementById("true2notConf").innerHTML ;


 }
 function feedbackFalse1notConf(){
    document.getElementById("firstView").innerHTML = document.getElementById("false1notConf").innerHTML ;


 }
 function feedbackFalse2notConf(){
    document.getElementById("firstView").innerHTML = document.getElementById("false2notConf").innerHTML ;


 }
 function deduct(){
    window.open("https://attack.mitre.org/techniques/T0855/");

 }




</script>