{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

<body id="bg" class="tdStyleback"></body>

<table align="center" id="firstView" > 
    <tr>
        <td colspan="3"  >
            <div ><img src="{% static 'images/blue2/credentialaccess.png' %}" class="pic"  ></div>
        </td>
        
         <td> 
            <div  class="button buttonHint"> Your Score :{{score}}
            </div> 
            <form action="{% url 'taskChoiceBlue' %}">

                <input class="button buttonHint" type="submit" value="Back">
            </form>
            
        </td>
        
        
    </tr>
    <tr>
         <td>
            <div class="choiceboxshow" > A. <br> Redundancy of Service<br><br></div>

         <br>
            <div class="choiceboxshow" > C. <br>Safety Instrumented Systems<br><br></div>
           
         </td>
         <td>
            <div class="choiceboxshow" >  B. <br>Access Management<br><br> </div>

          <br>
            <div class="choiceboxshow" > D. <br>Application Developer Guidance</div>

          </td>
    </tr>
    <tr>
        <td colspan="3">
            
            <div class="hintBox"> How Confident are you with the answer? <br>
                <input type="button" value="Very confident, no help needed" onclick="confident()" class=" button button2"><br>
                <input type="button" value="Not sure, i  need a hint " onclick="notConfident()" class=" button button2">
            </div>
        </td>
    </tr>
  

    
</table>

<table align="center" id="firstViewConf"  class="invisibleDiv"> 
    <tr>
        <td colspan="3"  >
            <div  ><img src="{% static 'images/blue2/credentialaccess.png' %}" class="pic"  ></div>
        </td>
        
         <td> 
            <div  class="button buttonHint"> Your Score :{{score}} </div>
            <form action="{% url 'taskChoiceBlue' %}">

                <input class="button buttonHint" type="submit" value="Back">
            </form> 
         </td>
        
    </tr>
    <tr>
         <td>
            <div class="choiceboxshow" > A. <br> Redundancy of Service<br><br></div>
            <input type="button" value="Choose" onclick="feedbackFalse1Conf()" class=" button button2">

            <br>
            <div class="choiceboxshow" > C. <br>Safety Instrumented Systems<br><br> </div>
            <input type="button" value="Choose" onclick="feedbackFalse2Conf()" class=" button button2">
           
         </td>
         <td>
            <div class="choiceboxshow" > B. <br>Access Management<br><br>  </div>
            <input type="button" value="Choose" onclick="feedbackTrue1Conf()" class=" button button2">

             <br>
            <div class="choiceboxshow" > D. <br>Application Developer Guidance</div>
            <input type="button" value="Choose" onclick="feedbackTrue2Conf()" class=" button button2">

          </td>
    </tr>
    
</table>
<table align="center" id="firstViewnotConf"  class="invisibleDiv"> 
    <tr>
        <td colspan="3"  >
            <div  ><img src="{% static 'images/blue2/credentialaccess.png' %}" class="pic"  ></div>
        </td>
        
        <td> 
            <div  class="button buttonHint"> Your Score :{{score}} </div> 
            <form action="{% url 'taskChoiceBlue' %}">

                <input class="button buttonHint" type="submit" value="Back">
            </form>       
            </td>
    
        
    </tr>
    <tr>
         <td>
            <div class="choiceboxshow" > A. <br> Redundancy of Service<br><br></div>
            <input type="button" value="Choose" onclick="feedbackFalse1notConf()" class=" button button2">

            <br>
            <div class="choiceboxshow" > C. <br>Safety Instrumented Systems<br><br> </div>
            <input type="button" value="Choose" onclick="feedbackFalse2notConf()" class=" button button2">
           
         </td>
         <td>
            <div class="choiceboxshow" > B. <br>Access Management<br><br>  </div>
             <input type="button" value="Choose" onclick="feedbackTrue1notConf()" class=" button button2">

             <br>
            <div class="choiceboxshow" > D. <br>Application Developer Guidance</div>
             <input type="button" value="Choose" onclick="feedbackTrue2notConf()" class=" button button2">

          </td>
    </tr>
    <tr>
        <td colspan="3" > 
            <div class="hintBox">
            <form  id="getHelp" method="post" target="_blank">{%csrf_token%}
            <input type="submit" name="help" value="                        Hint.                           " onclick="deduct()" class=" button buttonHint">
            </form>
         </div>
        </td>
    </tr
    
</table>

<table id="true1Conf" class="invisibleDiv"   align="center">
    <tr  >
          <td><div class="choiceboxshow">That is so smart, This mitigation authenticate all access to field controllers before authorizing access to, or modification of, a device's state, logic, or programs. Centralized authentication techniques can help manage the large number of field controller accounts needed across the ICS.<br> </div>
         <form action="https://attack.mitre.org/techniques/T0859/" target="_blank"> 
            <input type="submit" value="Find more!" class=" button button2"> </form></td>
          <td> <img src="{% static 'images/True.png' %}" class="pic"></td>
          <td>
              <form action="{% url 'resultblue2' %}" method="post" >{%csrf_token%}
                <input class="invisibleDiv" id="score" value="{{score}}"  name="score" >
                <input class="invisibleDiv"  value="2"  name="scoreAdd" >
                <input class="invisibleDiv"  value="0"  name="helpdeduct" >
                <input class="invisibleDiv"  value="{{truecounter}}"  name="trueCount" >
                <input class="invisibleDiv"  value="1"  name="counterAdd" >

                <input type="submit" value="Continue" class=" button button2" >  
                </form>
            </td>
      
  </table>
  <table id="true2Conf" class="invisibleDiv"   align="center">
    <tr  >
          <td><div class="choiceboxshow"> Perfect. This mitigation ensures that applications and devices do not store sensitive data or credentials insecurely.</div> <form target="_blank" action="https://attack.mitre.org/techniques/T0859/"> 
                <input type="submit" value="Find more!" class=" button button2"> </form> </td>
          <td> <img src="{% static 'images/True.png' %}" class="pic"></td>
          <td>
              <form action="{% url 'resultblue2' %}" method="post" >{%csrf_token%}
                <input class="invisibleDiv" id="score" value="{{score}}"  name="score" >
                <input class="invisibleDiv"  value="2"  name="scoreAdd" >
                <input class="invisibleDiv"  value="0"  name="helpdeduct" >
                <input class="invisibleDiv" value="{{truecounter}}"  name="trueCount" >
                <input class="invisibleDiv"  value="1"  name="counterAdd" >

                <input type="submit" value="Continue" class=" button button2" >  
                </form>
            </td>
      
  </table>
  
  <table id="false1Conf" class="invisibleDiv"   align="center">
      <tr  >
            <td><div class="choiceboxshow" >The technique doesn’t target service availability. We were wrong this time. .  </div>
                <br><form action="https://attack.mitre.org/techniques/T0859/" target="_blank"> 
                    <input type="submit" value="Find more!" class=" button button2"> </form>

             
              </td>
            <td> <img src="{% static 'images/fault.png' %}" class="pic"></td>
            <td>
                <form action="{% url 'resultblue2' %}" method="post" >{%csrf_token%}
                    <input class="invisibleDiv"  value="{{score}}" name="score">
                    <input class="invisibleDiv"  value="0"  name="scoreAdd" >
                    <input class="invisibleDiv"  value="2"  name="helpdeduct" >
                    <input class="invisibleDiv"  value="{{truecounter}}"  name="trueCount" >
                    <input class="invisibleDiv"  value="0"  name="counterAdd" >
                     
                    <input type="submit" value="Continue" class=" button button2" >
                </form>
            </td>
        </tr>
    </table>
    <table id="false2Conf" class="invisibleDiv"   align="center">
        <tr  >
              <td><div class="choiceboxshow" >This is out of scope, since the technique on itself doesn’t cause any safety-related consequence. </div> 
                <br><form action="https://attack.mitre.org/techniques/T0859/" target="_blank"> 
                    <input type="submit" value="Find more!" class=" button button2"> </form>
               
                </td>
              <td> <img src="{% static 'images/fault.png' %}" class="pic"></td>
              <td>
                  <form action="{% url 'resultblue2' %}" method="post" >{%csrf_token%}
                      <input class="invisibleDiv"  value="{{score}}" name="score">
                      <input class="invisibleDiv"  value="0"  name="scoreAdd" >
                      <input class="invisibleDiv"  value="2"  name="helpdeduct" >
                      <input class="invisibleDiv"  value="{{truecounter}}"  name="trueCount" >
                      <input class="invisibleDiv"  value="0"  name="counterAdd" >
                      
                      <input type="submit" value="Continue" class=" button button2" >
                  </form>
              </td>
          </tr>
      </table>
      <table id="true1notConf" class="invisibleDiv"   align="center">
        <tr  >
              <td><div class="choiceboxshow">That is so smart, This mitigation authenticate all access to field controllers before authorizing access to, or modification of, a device's state, logic, or programs. Centralized authentication techniques can help manage the large number of field controller accounts needed across the ICS. </td>
              <td> <img src="{% static 'images/True.png' %}" class="pic"></td>
              <td>
                  <form action="{% url 'resultblue2' %}" method="post" >{%csrf_token%}
                    <input class="invisibleDiv" id="score" value="{{score}}"  name="score" >
                    <input class="invisibleDiv"  value="1"  name="scoreAdd" >
                    <input class="invisibleDiv"  value="0"  name="helpdeduct" >
                    <input class="invisibleDiv"  value="{{truecounter}}"  name="trueCount" >
                    <input class="invisibleDiv"  value="1"  name="counterAdd" >
    
                    <input type="submit" value="Continue" class=" button button2" >  
                    </form>
                </td>
          
      </table>
      <table id="true2notConf" class="invisibleDiv"   align="center">
        <tr  >
              <td><div class="choiceboxshow">Perfect. This mitigation ensures that applications and devices do not store sensitive data or credentials insecurely. </td>
              <td> <img src="{% static 'images/True.png' %}" class="pic"></td>
              <td>
                  <form action="{% url 'resultblue2' %}" method="post" >{%csrf_token%}
                    <input class="invisibleDiv" id="score" value="{{score}}"  name="score" >
                    <input class="invisibleDiv"  value="1"  name="scoreAdd" >
                    <input class="invisibleDiv"  value="0"  name="helpdeduct" >
                    <input class="invisibleDiv"  value="{{truecounter}}"  name="trueCount" >
                    <input class="invisibleDiv"  value="1"  name="counterAdd" >
    
                    <input type="submit" value="Continue" class=" button button2" >  
                    </form>
                </td>
          
      </table>
      
      <table id="false1notConf" class="invisibleDiv"   align="center">
          <tr  >
                <td><div class="choiceboxshow" >The technique doesn’t target service availability. We were wrong this time. .
    
                 
                  </div></td>
                <td> <img src="{% static 'images/fault.png' %}" class="pic"></td>
                <td>
                    <form action="{% url 'resultblue2' %}" method="post" >{%csrf_token%}
                        <input class="invisibleDiv"  value="{{score}}" name="score">
                        <input class="invisibleDiv"  value="0"  name="scoreAdd" >
                        <input class="invisibleDiv"  value="0"  name="helpdeduct" >
                        <input class="invisibleDiv"  value="{{truecounter}}"  name="trueCount" >
                        <input class="invisibleDiv"  value="0"  name="counterAdd" >
                        
                        <input type="submit" value="Continue" class=" button button2" >
                    </form>
                </td>
            </tr>
        </table>
        <table id="false2notConf" class="invisibleDiv"   align="center">
            <tr  >
                  <td><div class="choiceboxshow" >This is out of scope, since the technique on itself doesn’t cause any safety-related consequence.   <br>
                   
                    </div></td>
                  <td> <img src="{% static 'images/fault.png' %}" class="pic"></td>
                  <td>
                      <form action="{% url 'resultblue2' %}" method="post" >{%csrf_token%}
                          <input class="invisibleDiv"  value="{{score}}" name="score">
                          <input class="invisibleDiv"  value="0"  name="scoreAdd" >
                          <input class="invisibleDiv"  value="0"  name="helpdeduct" >
                          <input class="invisibleDiv"  value="{{truecounter}}"  name="trueCount" >
                          <input class="invisibleDiv"  value="0"  name="counterAdd" >
                          
                          <input type="submit" value="Continue" class=" button button2" >
                      </form>
                  </td>
              </tr>
            </table>

<script type="text/javascript">

 function confident(){
    document.getElementById("firstView").innerHTML = document.getElementById("firstViewConf").innerHTML ;
 }

 function notConfident(){
    document.getElementById("firstView").innerHTML = document.getElementById("firstViewnotConf").innerHTML ;
 }

 function feedbackTrue1Conf(){
    document.getElementById("firstView").innerHTML = document.getElementById("true1Conf").innerHTML ;


}
function feedbackTrue2Conf(){
    document.getElementById("firstView").innerHTML = document.getElementById("true2Conf").innerHTML ;


}
function feedbackFalse1Conf(){
    document.getElementById("firstView").innerHTML = document.getElementById("false1Conf").innerHTML ;


}
function feedbackFalse2Conf(){
    document.getElementById("firstView").innerHTML = document.getElementById("false2Conf").innerHTML ;


 }
 

 function feedbackTrue1notConf(){
    document.getElementById("firstView").innerHTML = document.getElementById("true1notConf").innerHTML ;


 }
 function feedbackTrue2notConf(){
    document.getElementById("firstView").innerHTML = document.getElementById("true2notConf").innerHTML ;


 }
 function feedbackFalse1notConf(){
    document.getElementById("firstView").innerHTML = document.getElementById("false1notConf").innerHTML ;


 }
 function feedbackFalse2notConf(){
    document.getElementById("firstView").innerHTML = document.getElementById("false2notConf").innerHTML ;


 }
 function deduct(){
    window.open("https://attack.mitre.org/techniques/T0859/");

 }




</script>