{% load static %}


    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <body id="bg" class="tdStyleback">
   
    <table  align="center">

        <tr>
            <td > 
                <form action="{% url 'taskChoiceBlue' %}">

                    <input class="button button2" type="submit" value="Start">
                </form>
                <form action="{% url 'team' %}">

                    <input class="button button2" type="submit" value="Back">
                </form>
            </td>
            <td >
                <div class="about">
                  <img src="{% static 'images/Introduc.png' %}" class="pic">
                </div>
            </td>
          
           
        </tr>
    </table>

</body>


   