{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">



<body id="bg" class="tdStyleback"></body>

<table align="center" id="firstView" width="100%" height="50"> 
    <tr>
        <td colspan="3"  >
            <div  ><img src="{% static 'images/phishin.png' %}" class="pic"  ></div>
        </td>
        
        <td> 
            <div  class="button button2"> Your Score :{{score}} </div> 
            <br><br>
            <div class="choiceboxshow"> How Confident are you with the answer? <br>
                <input type="button" value="Very confident, no help needed" onclick="confident()" class=" button button2">
                <input type="button" value="Not sure, i  need a hint " onclick="notConfident()" class=" button button2">
            </div>
        </td>
    
    
       
    </tr>
    <tr>
         <td>
            <div class="choiceboxshow" >Restrict Web-Based Content. </div>

         <br>  
            <div class="choiceboxshow" >  Boot Integrity.	</div>
           
         </td>
         <td>
            <div class="choiceboxshow" > Update Software.</div>

            <br>
            <div class="choiceboxshow" > User Training.</div>

          </td>
    </tr>
    
</table>
<table align="center" id="firstViewConf"  class="invisibleDiv" width="100%" height="50"> 
    <tr>
        <td colspan="2"  >
            <div  ><img src="{% static 'images/phishin.png' %}" class="pic"  ></div>
        </td>
        
         <td > 
            <div  class="button button2"> Your Score :{{score}} </div> 
       
    </tr>
    <tr>
         <td>
            <div class="choiceboxshow" > Restrict Web-Based Content.  <br><br></div>
            <input type="button" value="Choose" onclick="feedbackTrue2Conf()" class=" button button2">

         <br>  
            <div class="choiceboxshow" > Boot Integrity. <br><br><br></div>
            <input type="button" value="Choose" onclick="feedbackFalse1Conf()" class=" button button2">
           
         </td>
         <td>
            <div class="choiceboxshow" > Update Software.<br> <br><br> </div>
             <input type="button" value="Choose" onclick="feedbackFalse2Conf()" class=" button button2">

          
          <br>
            <div class="choiceboxshow" > User Training.<br><br><br></div>
             <input type="button" value="Choose" onclick="feedbackTrue1Conf()" class=" button button2">

          </td>
    </tr>
    
</table>
<table align="center" id="firstViewnotConf"  class="invisibleDiv" width="100%" height="50"> 
    <tr>
        <td colspan="3"  >
            <div  ><img src="{% static 'images/phishin.png' %}" class="pic"  ></div>
        </td>
        
        <td> 
            <div  class="button button2"> Your Score :{{score}} </div> 
         <br><br><br> 
             
                <input type="submit"  value="Hint" onclick="deduct()" class=" button buttonred">
                
            </td>
    
       
    </tr>
    <tr>
        <td>
           <div class="choiceboxshow" > Restrict Web-Based Content. <br><br> </div>
           <input type="button" value="Choose" onclick="feedbackTrue2notConf()" class=" button button2">

        <br>  
           <div class="choiceboxshow" > Boot Integrity.<br><br><br> </div>
           <input type="button" value="Choose" onclick="feedbackFalse1notConf()" class=" button button2">
          
        </td>
        <td>
           <div class="choiceboxshow" >Update Software.<br> <br><br> </div>
            <input type="button" value="Choose" onclick="feedbackFalse2notConf()" class=" button button2">

         
         <br>
           <div class="choiceboxshow" >User Training.<br><br><br></div>
            <input type="button" value="Choose" onclick="feedbackTrue1notConf()" class=" button button2">

         </td>
   </tr>
   
    
</table>

<table id="true1Conf" class="invisibleDiv" width="100%" align="center">
    <tr width="100%">
          <td><div class="feedbackox">This is a very important step.
            Although we can not entirely depend on the awareness of the users, we can not underestimate the value of training the users against phishin attempts. 
            But of course we have to take other measurements, like Restrict Web-Based Content. <br></div>
              
                 <form action="https://attack.mitre.org/techniques/T1204/001/" target="_blank"> 
            <input type="submit" value="Find more!" class=" button button2"> </form> </td>
          <td> <img src="{% static 'images/True.png' %}" class="pic"></td>
          <td>
              <form action="{% url 'resultblue1' %}" method="post" name="trueForm1">{%csrf_token%}
                <input class="invisibleDiv" id="score" value="{{score}}"  name="score" >
                <input class="invisibleDiv"  value="2"  name="scoreAdd" >
                <input class="invisibleDiv"  value="0"  name="helpdeduct" >
                <input class="invisibleDiv"  value="{{truecounter}}"  name="trueCount" >
                <input class="invisibleDiv"  value="1"  name="counterAdd" >

                <input type="submit" value="Continue" class=" button button2" >  
                </form>
            </td>
      
  </table>
  <table id="true2Conf" class="invisibleDiv" width="100%" align="center">
    <tr width="100%">
          <td><div class="feedbackox">Yes!! This is crucial to prevent opening malicious content. 
            Some download scanning devices can open and analyze compressed and encrypted formats, 
            such as zip and rar that may be used to conceal malicious files. We can also train the user to be more aware of these attempts.</div>
            <br> <form action="https://attack.mitre.org/techniques/T1204/001/" target="_blank"> 
                <input type="submit" value="Find more!" class=" button button2"> </form> </td>
          <td> <img src="{% static 'images/True.png' %}" class="pic"></td>
          <td>
              <form action="{% url 'resultblue1' %}" method="post" name="trueForm2">{%csrf_token%}
                <input class="invisibleDiv" id="score" value="{{score}}"  name="score" >
                <input class="invisibleDiv"  value="2"  name="scoreAdd" >
                <input class="invisibleDiv"  value="0"  name="helpdeduct" >
                <input class="invisibleDiv"  value="{{truecounter}}"  name="trueCount" >
                <input class="invisibleDiv"  value="1"  name="counterAdd" >

                <input type="submit" value="Continue" class=" button button2" >  
                </form>
            </td>
      
  </table>
  
  <table id="false1Conf" class="invisibleDiv" width="100%" align="center">
      <tr width="50%">
            <td><div class="feedbackox" >Am afraid this is not correct. Because the attack occurs after the system is booted and doesn’t require a corrupt boot record.
                 <br>The link below can give you more information.   </div> 
                <br><form action="https://attack.mitre.org/techniques/T1204/001/" target="_blank"> 
                    <input type="submit" value="Find more!" class=" button button2"> </form>

             
              </div></td>
            <td> <img src="{% static 'images/fault.png' %}" class="pic"></td>
            <td>
                <form action="{% url 'resultblue1' %}" method="post" name="falseForm1">{%csrf_token%}
                    <input class="invisibleDiv"  value="{{score}}" name="score">
                    <input class="invisibleDiv"  value="0"  name="scoreAdd" >
                    <input class="invisibleDiv"  value="2"  name="helpdeduct" >
                    <input class="invisibleDiv"  value="{{truecounter}}"  name="trueCount" >
                    <input class="invisibleDiv"  value="0"  name="counterAdd" >
                    
                    <input type="submit" value="Continue" class=" button button2" >
                </form>
            </td>
        </tr>
    </table>
    <table id="false2Conf" class="invisibleDiv" width="100%" align="center">
        <tr width="50%">
              <td><div class="feedbackox" >Updating the software can't help us here. Because the attack occurs through a link and not vulnerable software. 
                The link below can give you more information.  </div>
                <br><form action="https://attack.mitre.org/techniques/T1204/001/" target="_blank"> 
                    <input type="submit" value="Find more!" class=" button button2"> </form>
               
                </div></td>
              <td> <img src="{% static 'images/fault.png' %}" class="pic"></td>
              <td>
                  <form action="{% url 'resultblue1' %}" method="post" name="falseForm2">{%csrf_token%}
                      <input class="invisibleDiv"  value="{{score}}" name="score">
                      <input class="invisibleDiv"  value="0"  name="scoreAdd" >
                      <input class="invisibleDiv"  value="2"  name="helpdeduct" >
                      <input class="invisibleDiv"  value="{{truecounter}}"  name="trueCount" >
                      <input class="invisibleDiv"  value="0"  name="counterAdd" >
                      
                      <input type="submit" value="Continue" class=" button button2" >
                  </form>
              </td>
          </tr>
      </table>
      <table id="true1notConf" class="invisibleDiv" width="100%" align="center">
        <tr width="100%">
              <td><div class="feedbackox">This is a very important step.
                Although we can not entirely depend on the awareness of the users, we can not underestimate the value of training the users against phishin attempts. 
                But of course we have to take other measurements, like Restrict Web-Based Content </td>
              <td> <img src="{% static 'images/True.png' %}" class="pic"></td>
              <td>
                  <form action="{% url 'resultblue1' %}" method="post" name="trueForm1">{%csrf_token%}
                    <input class="invisibleDiv" id="score" value="{{score}}"  name="score" >
                    <input class="invisibleDiv"  value="1"  name="scoreAdd" >
                    <input class="invisibleDiv"  value="0"  name="helpdeduct" >
                    <input class="invisibleDiv"  value="{{truecounter}}"  name="trueCount" >
                    <input class="invisibleDiv"  value="1"  name="counterAdd" >
    
                    <input type="submit" value="Continue" class=" button button2" >  
                    </form>
                </td>
          
      </table>
      <table id="true2notConf" class="invisibleDiv" width="100%" align="center">
        <tr width="100%">
              <td><div class="feedbackox"> Yes!! This is crucial to prevent opening malicious content. 
                Some download scanning devices can open and analyze compressed and encrypted formats, 
                such as zip and rar that may be used to conceal malicious files. We can also train the user to be more aware of these attempts.</td>
              <td> <img src="{% static 'images/True.png' %}" class="pic"></td>
              <td>
                  <form action="{% url 'resultblue1' %}" method="post" name="trueForm2">{%csrf_token%}
                    <input class="invisibleDiv" id="score" value="{{score}}"  name="score" >
                    <input class="invisibleDiv"  value="1"  name="scoreAdd" >
                    <input class="invisibleDiv"  value="0"  name="helpdeduct" >
                    <input class="invisibleDiv"  value="{{truecounter}}"  name="trueCount" >
                    <input class="invisibleDiv"  value="1"  name="counterAdd" >
    
                    <input type="submit" value="Continue" class=" button button2" >  
                    </form>
                </td>
          
      </table>
      
      <table id="false1notConf" class="invisibleDiv" width="100%" align="center">
          <tr width="50%">
                <td><div class="feedbackox" >Am afraid this is not correct. Because the attack occurs after the system is booted and doesn’t require a corrupt boot record.
    
                 
                  </div></td>
                <td> <img src="{% static 'images/fault.png' %}" class="pic"></td>
                <td>
                    <form action="{% url 'resultblue1' %}" method="post" name="falseForm1">{%csrf_token%}
                        <input class="invisibleDiv"  value="{{score}}" name="score">
                        <input class="invisibleDiv"  value="0"  name="scoreAdd" >
                        <input class="invisibleDiv"  value="0"  name="helpdeduct" >
                        <input class="invisibleDiv"  value="{{truecounter}}"  name="trueCount" >
                        <input class="invisibleDiv"  value="0"  name="counterAdd" >
                        <input type="submit" value="Continue" class=" button button2" >
                    </form>
                </td>
            </tr>
        </table>
        <table id="false2notConf" class="invisibleDiv" width="100%" align="center">
            <tr width="50%">
                  <td><div class="feedbackox" >Updating the software can't help us here. Because the attack occurs through a link and not vulnerable software.
  
                   
                    </div></td>
                  <td> <img src="{% static 'images/fault.png' %}" class="pic"></td>
                  <td>
                      <form action="{% url 'resultblue1' %}" method="post" name="falseForm2">{%csrf_token%}
                          <input class="invisibleDiv"  value="{{score}}" name="score">
                          <input class="invisibleDiv"  value="0"  name="scoreAdd" >
                          <input class="invisibleDiv"  value="0"  name="helpdeduct" >
                          <input class="invisibleDiv"  value="{{truecounter}}"  name="trueCount" >
                          <input class="invisibleDiv"  value="0"  name="counterAdd" > 
                          
                          <input type="submit" value="Continue" class=" button button2" >
                      </form>
                  </td>
              </tr>
          </table>

<script type="text/javascript">

function confident(){
    document.getElementById("firstView").innerHTML = document.getElementById("firstViewConf").innerHTML ;
 }

 function notConfident(){
    document.getElementById("firstView").innerHTML = document.getElementById("firstViewnotConf").innerHTML ;
 }


 function feedbackTrue1Conf(){
    document.getElementById("firstView").innerHTML = document.getElementById("true1Conf").innerHTML ;


}
function feedbackTrue2Conf(){
    document.getElementById("firstView").innerHTML = document.getElementById("true2Conf").innerHTML ;


}
function feedbackFalse1Conf(){
    document.getElementById("firstView").innerHTML = document.getElementById("false1Conf").innerHTML ;


}
function feedbackFalse2Conf(){
    document.getElementById("firstView").innerHTML = document.getElementById("false2Conf").innerHTML ;


 }
 

 function feedbackTrue1notConf(){
    document.getElementById("firstView").innerHTML = document.getElementById("true1notConf").innerHTML ;


 }
 function feedbackTrue2notConf(){
    document.getElementById("firstView").innerHTML = document.getElementById("true2notConf").innerHTML ;


 }
 function feedbackFalse1notConf(){
    document.getElementById("firstView").innerHTML = document.getElementById("false1notConf").innerHTML ;


 }
 function feedbackFalse2notConf(){
    document.getElementById("firstView").innerHTML = document.getElementById("false2notConf").innerHTML ;


 }
function deduct(){
    window.open("https://attack.mitre.org/techniques/T1204/001/");
  

     

}




</script>