{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
<body id="bg" class="tdStylebackred"></body>

<table id="firstView">
    <tr> 
    
        <td width="50%">
            <div class="about">
            <img src="{% static 'images/red1/stealth.png' %}" class="pic" id="1">
        </div>
        </td>
        <td width="50%" height="auto%"></td>
        <td float="right" > 
            <input id="1to2" type="button" value="Next" onclick="view()" class=" button button2">
        </td>

    </tr>
</table>


<table id="askConf" class="invisibleDiv" width="100%" align="center">
    <tr>
        <td colspan="3">
           
              <img src="{% static 'images/red1/initialAccess.png' %}" class="pic">
            
        </td>
   
       
    </tr>
    <tr>
        <td>
            <div class="choiceBoxRed" id="option1" > Train the users, so they can be more aware of any stealing account attempt.</div>
        </td>
        <td>
               <div class="choiceBoxRed" id="option2">  Make configuration changes related to the operating system that results in a more secured system.<div>
        </td>
        <td>
            <div class="choiceBoxRed"> How Confident are you with the answer? <br>
                <input type="button" value="Very confident, no help needed" onclick="confident()" class=" button button2">
                <input type="button" value="Not sure, i  need a hint " onclick="notConfident()" class=" button button2">
            </div>
             
             
        </td>
        
    </tr>
   

</table>



<script>
    function view(){

document.getElementById("firstView").innerHTML = document.getElementById("askConf").innerHTML ;


}
</script>