{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

<body id="bg" class="tdStylebackred">

<table align="center" id="firstView" > 
    <tr>
        <td colspan="3"  >
            <div ><img src="{% static 'images/red1/command.png' %}" class="pic"  ></div>
        </td>
        
         <td> 
            <div  class="button buttonred"> Your Score :{{score}} <br>
            </div> 
        
        </td>
        
    </tr>
    <tr>
         <td>
            <div class="choiceBoxRed" > A. <br>Out of Band Data<br><br></div>

         <br> 
            <div class="choiceBoxRed" > C. <br>Credentials from Password Store<br><br></div>
           
         </td>
         <td>
            <div class="choiceBoxRed" >B. <br>Encrypted Channel<br><br></div>

          <br> 
            <div class="choiceBoxRed" >D. <br>Lockscreen Bypass<br><br></div>

          </td>
    </tr>
    <tr>
        <td colspan="2">
         <div class="hintBox""> How Confident are you with the answer? <br>
            <input type="button" value="Very confident, no help needed" onclick="confident()" class=" button buttonred"> <br>
            <input type="button" value="Not sure, i  need a hint " onclick="notConfident()" class=" button buttonred">
          </div>
       </td>
    </tr>

    
</table>
</body>

<table align="center" id="firstViewConf" width="100%" height="50" class="invisibleDiv"> 
    <tr>
        <td colspan="3"  >
            <div  ><img src="{% static 'images/red1/command.png' %}" class="pic"  ></div>
        </td>
        
         <td> 
            <div  class="button buttonred"> Your Score :{{score}} </div> 
         </td>
        
    </tr>
    <tr>
         <td>
            <div class="choiceBoxRed" > A. <br>Out of Band Data<br><br> </div>
            <input type="button" value="Choose" onclick="feedbackTrue1Conf()" class=" button buttonred">

            <br>
            <div class="choiceBoxRed" > C. <br>Credentials from Password Store<br><br>  </div>
            <input type="button" value="Choose" onclick="feedbackFalse2Conf()" class=" button buttonred">
           
         </td>
         <td>
            <div class="choiceBoxRed" >B. <br>Encrypted Channel<br><br> </div>
            <input type="button" value="Choose" onclick="feedbackTrue2Conf()" class=" button buttonred">

             <br> 
            <div class="choiceBoxRed" >D. <br>Lockscreen Bypass<br><br></div>
            <input type="button" value="Choose" onclick="feedbackFalse1Conf()" class=" button buttonred">

          </td>
    </tr>
    
</table>
<table align="center" id="firstViewnotConf" width="100%" height="50" class="invisibleDiv"> 
    <tr>
        <td colspan="3"  >
            <div  ><img src="{% static 'images/red1/command.png' %}" class="pic"  ></div>
        </td>
        
        <td> 
            <div  class="button buttonred"> Your Score :{{score}} </div> 
                
            </td>
    
    </tr>
    <tr>
         <td>
            <div class="choiceBoxRed" > A. <br>Out of Band Data<br><br> </div>
            <input type="button" value="Choose" onclick="feedbackTrue1notConf()" class=" button buttonred">

            <br> 
            <div class="choiceBoxRed" > C. <br>Credentials from Password Store<br><br>  </div>
            <input type="button" value="Choose" onclick="feedbackFalse2notConf()" class=" button buttonred">
           
         </td>
         <td>
            <div class="choiceBoxRed" >B. <br>Encrypted Channel<br><br> </div>
             <input type="button" value="Choose" onclick="feedbackTrue2notConf()" class=" button buttonred">

             <br> 
            <div class="choiceBoxRed" >D. <br>Lockscreen Bypass<br><br></div>
             <input type="button" value="Choose" onclick="feedbackFalse1notConf()" class=" button buttonred">

          </td>
    </tr>
    <tr> <td colspan="2">
        <div></div>
    </td></tr>
    <tr>
        <td colspan="2" > 
            <div class="hintBox">
            <form  id="getHelp" method="post" target="_blank">{%csrf_token%}
            <input type="submit" name="help" value="                        Hint.                           " onclick="deduct()" class=" button buttonHint">
            </form>
         </div>
        </td>
    </tr>
    
</table>

<table id="true1Conf" class="invisibleDiv" width="100%" align="center">
    <tr width="100%">
          <td><div class="choiceBoxRed">That is correct. Adversaries may communicate with compromised devices using out of band data streams, to  evade network traffic monitoring, as a backup method of command and control,
            or for data exfiltration if the device is not connected to any Internet-providing networks. </div>
         <form action="https://attack.mitre.org/tactics/TA0037/" target="_blank"> 
            <input type="submit" value="Find more!" class=" button buttonred"> </form></td>
          <td> <img src="{% static 'images/trueRed.png' %}" class="pic"></td>
          <td>
              <form action="{% url 'taskRed15' %}" method="post" >{%csrf_token%}
                <input class="invisibleDiv" id="score" value="{{score}}"  name="score" >
                <input class="invisibleDiv"  value="2"  name="scoreAdd" >
                <input class="invisibleDiv"  value="0"  name="helpdeduct" >
                <input class="invisibleDiv"  value="{{truecounter}}"  name="trueCount" >
                <input class="invisibleDiv"  value="1"  name="counterAdd" >

                <input type="submit" value="Continue" class=" button buttonred" >  
                </form>
            </td>
      
  </table>
  <table id="true2Conf" class="invisibleDiv" width="100%" align="center">
    <tr width="100%">
          <td><div class="choiceBoxRed"> Amazing. Adversaries may explicitly employ a known encryption algorithm to conceal 
            command and control traffic rather than relying on any inherent protections provided by a communication protocol. Read about more techniques that can be used.<br></div> <form target="_blank" action="https://attack.mitre.org/tactics/TA0037/">
                <input type="submit" value="Find more!" class=" button buttonred"> </form> </td>
          <td> <img src="{% static 'images/trueRed.png' %}" class="pic"></td>
          <td>
              <form action="{% url 'taskRed15' %}" method="post" >{%csrf_token%}
                <input class="invisibleDiv" id="score" value="{{score}}"  name="score" >
                <input class="invisibleDiv"  value="2"  name="scoreAdd" >
                <input class="invisibleDiv"  value="0"  name="helpdeduct" >
                <input class="invisibleDiv" value="{{truecounter}}"  name="trueCount" >
                <input class="invisibleDiv"  value="1"  name="counterAdd" >

                <input type="submit" value="Continue" class=" button buttonred" >  
                </form>
            </td>
      
  </table>
  
  <table id="false1Conf" class="invisibleDiv" width="100%" align="center">
      <tr width="50%">
            <td><div class="choiceBoxRed" >Oh No!. This technique aims to achieve initial access to targets through bypassing the lock screen. During C&C, attackers aim to connect and control victims.<br></div> <form target="_blank" action="https://attack.mitre.org/tactics/TA0037/"> 
                    <input type="submit" value="Find more!" class=" button buttonred"> </form> </td>

             
              </td>
            <td> <img src="{% static 'images/falseRed.png' %}" class="pic"></td>
            <td>
                <form action="{% url 'taskRed15' %}" method="post" >{%csrf_token%}
                    <input class="invisibleDiv"  value="{{score}}" name="score">
                    <input class="invisibleDiv"  value="0"  name="scoreAdd" >
                    <input class="invisibleDiv"  value="2"  name="helpdeduct" >
                    <input class="invisibleDiv"  value="{{truecounter}}"  name="trueCount" >
                    <input class="invisibleDiv"  value="0"  name="counterAdd" >
                     
                    <input type="submit" value="Continue" class=" button buttonred" >
                </form>
            </td>
        </tr>
    </table>
    <table id="false2Conf" class="invisibleDiv" width="100%" align="center">
        <tr width="50%">
              <td><div class="choiceBoxRed" > Oh No!!. This technique aims to collect credentials from targets though password stores. During C&C, attackers aim to connect and control victims. <br></div> <form target="_blank" action="https://attack.mitre.org/tactics/TA0037/"> 
                    <input type="submit" value="Find more!" class=" button buttonred"> </form> </td>
              <td> <img src="{% static 'images/falseRed.png' %}" class="pic"></td>
              <td>
                  <form action="{% url 'taskRed15' %}" method="post" >{%csrf_token%}
                      <input class="invisibleDiv"  value="{{score}}" name="score">
                      <input class="invisibleDiv"  value="0"  name="scoreAdd" >
                      <input class="invisibleDiv"  value="2"  name="helpdeduct" >
                      <input class="invisibleDiv"  value="{{truecounter}}"  name="trueCount" >
                      <input class="invisibleDiv"  value="0"  name="counterAdd" >
                      
                      <input type="submit" value="Continue" class=" button buttonred" >
                  </form>
              </td>
          </tr>
      </table>
      <table id="true1notConf" class="invisibleDiv" width="100%" align="center">
        <tr width="100%">
            <td><div class="choiceBoxRed">That is correct. Adversaries may communicate with compromised devices using out of band data streams, to  evade network traffic monitoring, as a backup method of command and control,
                 or for data exfiltration if the device is not connected to any Internet-providing networks. </div>
             <form action="https://attack.mitre.org/tactics/TA0037/" target="_blank"> 
                <input type="submit" value="Find more!" class=" button buttonred"> </form></td>
                <td> <img src="{% static 'images/trueRed.png' %}" class="pic"></td>
              <td>
                  <form action="{% url 'taskRed15' %}" method="post" >{%csrf_token%}
                    <input class="invisibleDiv" id="score" value="{{score}}"  name="score" >
                    <input class="invisibleDiv"  value="1"  name="scoreAdd" >
                    <input class="invisibleDiv"  value="0"  name="helpdeduct" >
                    <input class="invisibleDiv"  value="{{truecounter}}"  name="trueCount" >
                    <input class="invisibleDiv"  value="1"  name="counterAdd" >
    
                    <input type="submit" value="Continue" class=" button buttonred" >  
                    </form>
                </td>
          
      </table>
      <table id="true2notConf" class="invisibleDiv" width="100%" align="center">
        <tr width="100%">
              <td><div class="choiceBoxRed">Amazing. Adversaries may explicitly employ a known encryption algorithm to conceal 
                command and control traffic rather than relying on any inherent protections provided by a communication protocol. Read about more techniques that can be used.<br></div> <form target="_blank" action="https://attack.mitre.org/tactics/TA0037/"> 
                    <input type="submit" value="Find more!" class=" button buttonred"> </form> </td>
              <td> <img src="{% static 'images/trueRed.png' %}" class="pic"></td>
              <td>
                  <form action="{% url 'taskRed15' %}" method="post" >{%csrf_token%}
                    <input class="invisibleDiv" id="score" value="{{score}}"  name="score" >
                    <input class="invisibleDiv"  value="1"  name="scoreAdd" >
                    <input class="invisibleDiv"  value="0"  name="helpdeduct" >
                    <input class="invisibleDiv"  value="{{truecounter}}"  name="trueCount" >
                    <input class="invisibleDiv"  value="1"  name="counterAdd" >
    
                    <input type="submit" value="Continue" class=" button buttonred" >  
                    </form>
                </td>
          
      </table>
      
      <table id="false1notConf" class="invisibleDiv" width="100%" align="center">
          <tr width="50%">
                <td><div class="choiceBoxRed" > Oh No!. This technique aims to achieve initial access to targets through bypassing the lock screen. During C&C, attackers aim to connect and control victims. <br></div> <form target="_blank" action="https://attack.mitre.org/tactics/TA0037/"> 
                        <input type="submit" value="Find more!" class=" button buttonred"> </form> </td>
                <td> <img src="{% static 'images/falseRed.png' %}" class="pic"></td>
                <td>
                    <form action="{% url 'taskRed15' %}" method="post" >{%csrf_token%}
                        <input class="invisibleDiv"  value="{{score}}" name="score">
                        <input class="invisibleDiv"  value="0"  name="scoreAdd" >
                        <input class="invisibleDiv"  value="0"  name="helpdeduct" >
                        <input class="invisibleDiv"  value="{{truecounter}}"  name="trueCount" >
                        <input class="invisibleDiv"  value="0"  name="counterAdd" >
                        
                        <input type="submit" value="Continue" class=" button buttonred" >
                    </form>
                </td>
            </tr>
        </table>
        <table id="false2notConf" class="invisibleDiv" width="100%" align="center">
            <tr width="50%">
                  <td><div class="choiceBoxRed" >Oh No!!. This technique aims to collect credentials from targets though password stores. During C&C, attackers aim to connect and control victims.. <br></div> <form target="_blank" action="https://attack.mitre.org/tactics/TA0037/"> 
                        <input type="submit" value="Find more!" class=" button buttonred"> </form> </td>
                  <td> <img src="{% static 'images/falseRed.png' %}" class="pic"></td>
                  <td>
                      <form action="{% url 'taskRed15' %}" method="post" >{%csrf_token%}
                          <input class="invisibleDiv"  value="{{score}}" name="score">
                          <input class="invisibleDiv"  value="0"  name="scoreAdd" >
                          <input class="invisibleDiv"  value="0"  name="helpdeduct" >
                          <input class="invisibleDiv"  value="{{truecounter}}"  name="trueCount" >
                          <input class="invisibleDiv"  value="0"  name="counterAdd" >
                          
                          <input type="submit" value="Continue" class=" button buttonred" >
                      </form>
                  </td>
              </tr>
            </table>

<script type="text/javascript">

 function confident(){
    document.getElementById("firstView").innerHTML = document.getElementById("firstViewConf").innerHTML ;
 }

 function notConfident(){
    document.getElementById("firstView").innerHTML = document.getElementById("firstViewnotConf").innerHTML ;
 }

 function feedbackTrue1Conf(){
    document.getElementById("firstView").innerHTML = document.getElementById("true1Conf").innerHTML ;


}
function feedbackTrue2Conf(){
    document.getElementById("firstView").innerHTML = document.getElementById("true2Conf").innerHTML ;


}
function feedbackFalse1Conf(){
    document.getElementById("firstView").innerHTML = document.getElementById("false1Conf").innerHTML ;


}
function feedbackFalse2Conf(){
    document.getElementById("firstView").innerHTML = document.getElementById("false2Conf").innerHTML ;


 }
 

 function feedbackTrue1notConf(){
    document.getElementById("firstView").innerHTML = document.getElementById("true1notConf").innerHTML ;


 }
 function feedbackTrue2notConf(){
    document.getElementById("firstView").innerHTML = document.getElementById("true2notConf").innerHTML ;


 }
 function feedbackFalse1notConf(){
    document.getElementById("firstView").innerHTML = document.getElementById("false1notConf").innerHTML ;


 }
 function feedbackFalse2notConf(){
    document.getElementById("firstView").innerHTML = document.getElementById("false2notConf").innerHTML ;


 }
 function deduct(){
    window.open("https://attack.mitre.org/tactics/TA0037/");

 }




</script>