{% load static %}


    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <body id="bg" class="tdStyleback"></body>
    <table>

        <tr>
            <td width="50%" height="50%">
                <img src="{% static 'images/Introduce.png' %}" class="pic1show">
            </td>
            <td width="50%" height="50%"></td>
        </tr>
        <tr>
            <td width="50%" height="50%"> 
                <form action="task1/">

                    <input class="button button2" type="submit" value="Start">
                </form>
            </td>
            <td width="50%" height="50%"></td>
        </tr>
    </table>


   