{% load static %}


    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
<body id="bg" class="tdStylebackred">
   
    <table id="firstView" align="center">

        <tr> 
            <td > 
                <input id="1to2" type="button" value="Next" onclick="view()" class=" button buttonred">
            </td>
            <td >
                <div class="about">
                  <img src="{% static 'images/introAlma.png' %}" class="pic" >
               </div>
            </td>
            </tr>
            
    </table>
</body>

    <table id="firstViewBackup" class="invisibleDiv" align="center">
        <tr> 
            <td> 
                <input id="1to2" type="button" value="Next" onclick="view()" class=" button buttonred">
            </td>
            <td >
                <div class="about">
                  <img src="{% static 'images/introAlma.png' %}" class="pic" >
               </div>
            </td>
        </tr>
      
    </table>
    
    <table id="secondView" class="invisibleDiv" align="center">
        <tr>
            <td> 
                <form action="{% url 'taskChoiceRed' %}">

                    <input class="button buttonred" type="submit" value="Start">
                </form>
                <form action="{% url 'taskChoiceRed' %}">

                    <input class="button buttonred" onclick="viewBack()" type="button" value="Back">
                </form>
            </td>
            <td>
                <div class="about">
                  <img src="{% static 'images/introAlma2.png' %}" class="pic">
                </div>
            </td>
           </tr>
        
    </table>
    

 <script> 
      function view(){

        document.getElementById("firstView").innerHTML = document.getElementById("secondView").innerHTML ;
     }

     function viewBack(){
    document.getElementById("firstView").innerHTML = document.getElementById("firstViewBackup").innerHTML ;
  
}
 </script>