{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
<body id="bg" class="tdStyScore">


<table align="center" id="scoring1">
    <tr>
        <td>
            <div ><img src="{% static 'images/scoring1.png' %}" class="pic">
                <br>
                <br>
                <br>
                <input type="submit" value="Next" class=" button button2" onclick="next1()">
                </div>
        </td>
    </tr>
</table>
</body>

<div class="invisibleDiv" id="scoring1Backup">
    <img src="{% static 'images/scoring1.png' %}" class="pic">
    <br>
    <input type="submit" value="Next" class=" button button2" onclick="next1()">
    </div>
<div class="invisibleDiv" id="scoring2">
    <img src="{% static 'images/scoring2.png' %}" class="pic">
    <br>
    <br>
    
    <input type="submit" value="Next" class=" button button2" onclick="next2()"><br>
    <input type="submit" value="Back" class=" button button2" onclick="back1()">
</div>
<div class="invisibleDiv" id="scoring2Backup">
    <img src="{% static 'images/scoring2.png' %}" class="pic">
    <br>
    <br>
    <input type="submit" value="Next" class=" button button2" onclick="next2()"><br>
    <input type="submit" value="Back" class=" button button2" onclick="back1()">

</div>
<div class="invisibleDiv" id="scoring3">
    <img src="{% static 'images/scoring3.png' %}" class="pic"><br><br>
    
    <form action="{% url 'team' %}" method="post" >{%csrf_token%}
        <input type="submit" value="Play" class=" button button2" >  
    </form><br>
    <input type="submit" value="Back" class=" button button2" onclick="back2()">

</div>




<script>
function next1(){

  document.getElementById("scoring1").innerHTML = document.getElementById("scoring2").innerHTML ;


}
function back1(){

document.getElementById("scoring1").innerHTML = document.getElementById("scoring1Backup").innerHTML ;


}
function next2(){

document.getElementById("scoring1").innerHTML = document.getElementById("scoring3").innerHTML ;


}
function back2(){

document.getElementById("scoring1").innerHTML = document.getElementById("scoring2Backup").innerHTML ;


}
</script>