{% load static %}

<body id="bg" class="tdStyleback"></body>

<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
<header class="header"> ATT&CK To Defend </header>
<br> <br><br><br><br><br><br><br><br>

<table align="center">
<tr>
  <td colspan="2">
    <div class="hintBox"> Choose your mission here </div>
    <br><br><br>
  </td>
</tr>
  <tr>

    <td>
      <div class="backbox"> APT3  </div>
    
      <form action="{% url 'task11' %}" method="post" align="center">{%csrf_token%}
       <input type="submit" value="Start"  class=" button button2">
     </form> 
   
    </td>
    <td>
      <div class="backbox"> Sandworm </div>

      <form action="{% url 'task12' %}" method="post" align="center" >{%csrf_token%}
        <input type="submit" value="Start" class=" button button2">
       </form>
     </td>
    
 </tr>
 <tr rowspan="2">
  <td>
    <form action="{% url 'main' %}" method="post" >{%csrf_token%}
      <input type="submit" value="Back to Main" class=" button buttonHint">
     </form>
   </td>
 </tr>



</table>
