{% load static %}

<body id="bg" class="tdStylebackred"></body>

<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
<header class="headRed"> ATT&CK To Defend </header>
<br> <br><br><br><br><br><br><br><br><br>
<h2> Choose your mission here </h2>
<table>

  <tr>

    <td>
      <div class="backboxRed"> Stealth Mango.  </div> 
      <form action="{% url 'taskRed11' %}" method="post" >{%csrf_token%}
       <input type="submit" value="Start"  class=" button buttonred">
     </form> 
   
    </td>
    <td>
      <div class="backboxRed"> Sandworm </div>
      <form action="{% url 'taskRed21' %}" method="post" >{%csrf_token%}
        <input type="submit" value="Start" class=" button buttonred">
       </form>
     </td>
    
 </tr>
 <tr rowspan="2">
  <td>
    <form action="{% url 'main' %}" method="post" >{%csrf_token%}
      <input type="submit" value="Back to Main" class=" button buttonred">
     </form>
   </td>
 </tr>



</table>
