{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
<body id="bg" class="tdStylemain">





<br> <br><br><br><br><br><br><br><br><br>
<form action="{% url 'blue1' %}">
    <input class="button button2" type="submit" value="Blue Team" >
</form>


<form action="{% url 'taskChoiceRed' %}">
    <input type="submit" value="Red Team" class="button buttonred">
</form>

<form action="{% url 'main' %}">
    <input type="submit" value="Back" class="button buttongrey">
</form>