{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
<body id="bg" class="picshow">
<div class="tdStyleback">
   <table>
      <tr>
         <td>
           <form action="https://nettskjema.no/a/265493#/page/1" method="get" >{%csrf_token%}
           <input type="submit" value="Answer post-game questionnaire." class=" button button2" >  
            </form>
         </td>
         <td>
            <img src="{% static 'images/endscene.png' %}" >
         </td>
      </tr>
      <tr>
         <td colspan="2">
            <div class="tdStyleback"></div>
         </td>
      </tr>
   </table>
</div>
</body>